
.mlabel{
    border-radius: 10px;
    background: #470f1485;
    padding-left: 7%;
    /* margin-left: 7%; */
    padding-top: 5px;
    color: #e8e8f7;
    letter-spacing: 1px;
    font-family: 'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif;
    
}

.cart{
    margin-top: 4px;
    width: 916px;
    color: #e8e8f7;
    
    letter-spacing: 3px;
}



.tr-class{
    height: 33px;
    background: #ff000038;
}



.tbody-bas{
    background: #18181f;
    
}


.table-basket{
    
    margin: 0 auto;

    
      
}



.table-basket p{

    width:100%;
    text-align: center;
}
.table-basket form{
    width: 100%;
    text-align: center;
}

.total td{
    margin-top: 50px;
    font-size: 25px;
}

input[type=submit] {
	width: 75px;
	height: 35px;
	margin: 5px;
	font-family: 'Krona One', sans-serif;
	font-size: 12px;
	color: rgba(255,255,255,0.9);
	text-shadow: 1px 1px 2px rgba(0,0,0,0.5);
	cursor: pointer;
	border: none;
	border-radius: 5px;
	transition: 300ms;
    background: rgb(155, 16, 16);
  }
  
  input[type="submit"]:hover {
    color: #5f5f5f;
	transform: translateY(5px);
	  box-shadow: 0px 0px transparent, 0px 5px 10px rgba(0,0,0,0.25);
  }
  
  input[type="submit"]:focus {
	outline: none;
  }


