
{% extends 'Main/base.html' %}
{% block title  %}
    Создание заказа
{%endblock%}
{% block content %}

<div class= "block-div-center-buy">
    <div style="text-align: center;">
        <div class = "div-info" style="
        width: 100%;
    ">
            <div class="order-info"> <!--/* background: radial-gradient(#282d30, black); */padding-top: 11px;-->
            <h1 style=" 
            border-radius: 11px;
            width: 100%;
            letter-spacing: 3px;
            text-align: center;
            color: #b9b9e0;
            /* background: #2628298c; */
            background: #43515a3b;
            
            "> Order confirmation</h1>
                <div class= "block-5">
                    <ul>
                    {% for item in cart %}
                        <li class = "list-product-buy">
                            {{item.product.firm}}
                            {{item.product.name}}
                            quantity: {{item.quantity}}
                            <span>
                                Price: {{item.total_price}}
                            </span>
                        </li>
                    {% endfor %}
                    </ul>
                </div>
                <div style="    color: #5dfe7c99;
                margin-top: 1px;
                width: 100%;
                text-align: center;
                background: #43515a29;"><p style="font-size: 29px;
                font-family: sans-serif;
                letter-spacing: 3px;
            "> Total:{{cart.get_total_price}}$</p></div>
            </div> 
            <!---->
            <div class = "form-buy-2">
                <div class = "form-buy">
                    <form method="post" class="order_form">
                        {{form.as_p}}
                        <!--<button class = "button-buy-all" >Buy</button>-->
                        <p><button class = "button-buy-all" type="submit">Accept the order</button></p>
                        {% csrf_token %}
                    </form>
                </div>
            </div>
        </div>   
    </div> 
</div>
{% endblock content  %}
{% block left-content-ctg %}
<div class= "label-categ-head">
    <h1>Category</h1>
</div>
<div class ="block-label-select-category">
  <div class= "Select-category"> Select a category to sort </div>
</div>
{% endblock left-content-ctg %}