{%extends "Main/base.html" %}
{% block title %}Your payment was rejected by the payment system or bank!{%endblock%}
{%block content%}
<h1 style="background: radial-gradient(#ffffff0a, #0000000f);color: #fe353573;width: 100%;text-align: center;letter-spacing: 2px;font-size: 35px;">Your payment was rejected by the payment system or bank!</h1>


<div class = "success-buy"><p style="margin-top: 15px;color: #b9b9cb;font-size: 23px;width: 80%;border-radius: 16px;background: radial-gradient(#ffffff12, #00000038);letter-spacing: 2px;"> Why was the payment rejected? 
<br><br> If your payment was rejected by the recipient's payment system, it may be caused by the following reasons: 
<br> <br> 1: Insufficient funds in your account. Make sure you have enough money to make the payment.
<br> <br> 2: Incorrectly entered card data. You may have entered the wrong card number, expiration date, or CVV code. Check the correctness of the entered data and try again.
<br> <br> 3: Restrictions of the recipient's payment system. Some payment systems may have restrictions on certain types of transactions or countries. Check the rules and restrictions of the payment system and, if necessary, contact their support service.
<br> <br> 4: International restrictions or blockages. It is possible that your bank or payment system has restrictions or blockages for international payments. Check this information with your bank and payment system.
<br> <br> 5: Technical problems. Sometimes payments may be rejected due to technical failures or errors in the system. Try to make a payment later or contact the payment system support service.
<br> <br> If your payment was rejected, we recommend that you carefully check all the reasons given and take the necessary actions to solve the problem. </p>
</div>

{%endblock content%}
{% block left-content-ctg %}
<div class= "label-categ-head">
    <h1>Category</h1>
</div>
<div class ="block-label-select-category">
  <div class= "Select-category"> Select a category to sort </div>
</div>
{% endblock left-content-ctg %}