{% extends "Food/base.html" %}

{%load bootstrap4%}
{% block page_header %}
{% if grrr%}
<h1 class = "display-3 text-warning">Ваши записи</h1>
{%else%}
<h1 class = "display-3 text-warning">Все рестораны</h1>
{%endif%}
{% endblock page_header %}
{% block content %}
    <div class="col-6">
        <div class="p-2"></div>
    </div>
    {% for job in jobRestaurant %}
    <table class="table table-dark">
        <thead> 
        <tr>
            <th scope="col">Лого</th>
            <th scope="col">Описание</th>
            <th scope="col">Город</th>
            <th scope="col">Ресторан</th>
            <th scope="col"></th>
            <div class="float-right">
                {%if grrr %}
                {% buttons%}
                    <a href="{% url "Food:DelRestaurant" job.res_id.id %}" role= "button" class="btn-danger mr-right">Удалить</a>
                    <a href="{% url "Food:updatepost" job.res_id.id %}" role= "button" class="btn-primary mr-right">Редактировать</a>
                {%endbuttons%}
                {% endif %}
                
            </div>
        </tr>
        </thead>
        <tbody>
        <tr>
            <th scope="row"><img src="{{job.image }}"height="250" style="max-width: 270px "></th>
            <td><h5>{{ job.Characteristic|wordwrap:50|linebreaksbr }}</h5></td>
            <td><h5>{{job.city}}<h5></td>
            <td><h5>{{job.Name_Restaurant}}<span style="vertical-align: -250px;"><a href="{% url "Food:Menu" job.res_id.id %}" role= "button" class="btn-primary mr-right">Перейти</a></span></h5></td>
            
            
        </tr>
    </table>
    {% endfor %}
    {%if grrr %}
    <div class="d-flex justify-content-end">
        {% buttons%}
        
          <a href="{% url "Food:AddRestaurant" %}" role= "button" class="btn-success btn-lg mr-3">Добавить запись</a>
        
        {% endbuttons%}
      </div>
    {% endif %}

{% endblock content %}