{% extends "Main/base.html" %}


{% block content %}

{% if some_flag %}
    <script>
        alert("Invalid password or login, try again.")
    </script>     
{%endif%}

{%load static%}

{% for B in Binoculars %}
    <div class = "block-product">
        <div class = "description-product-block">

            <img src={{B.image.url}} height="170" style="max-width: 150px">
            <div class = "description-text-product" >
                <div class= "buttons-buy-info-pr">
                <div>Name: {{B.name}}</div>
                <div>Material: {{B.material}}</div>
                <div>Range: {{B.range}}</div>
                <div>Date of publication: {{B.created}}</div>
                <div class= "buttons-buy-info-pr-5">
                    <div class= "pr-price" >Price: {{B.price}}$</div>
                    <div class="buy-logo"><button><h3> Into a basket </h3></button></div>
                    <div class="info-logo-pr"><button><h3><a href="{% url "Main:Binoculars_product" B.id %}"> Info</a></h3></button></div>
                </div>
                </div>
                
            </div>
        </div>
    </div>
    
{% endfor %}
<div class="m" style="--m: {{ line }}" >
</div>
{% endblock content %}