{% load static %}

<html>
    <head>
        <meta charset = "utf-8"/>
        <title>{% block title %} TeaHaven {% endblock %}</title>
        <link href= "{% static "c_sss/base.css" %}" rel ="stylesheet">
    </head>
    <body>
        <div id ="header">
            <a href ="/" class = "logo">Мой магазин</a>
        </div>
        
        <div id= "subheader">
            <div class = "cart"> 
                <a href="{% url "cart:cart_detail"%}" >
                    {%if POZITION %} 
                    {{POZITION}}, NIS {{ cart.get_total_price }}
                </a>
                    {% else %}
                    Ваша корзина пуста!
                    {% endif %}    
            </div>
        </div>
        <div id="content">
            {% block content %}

            {% endblock content%}
        </div>
    </body>
</html>

