
{% extends "Cats/base.html" %}
{% load bootstrap4%}
{% block page_header %}
<h1> Витрина котов </h1>
{% endblock page_header %}



{% block content %}

  {% for c in images %}
    <p><h5>{{ c.cat }} </h5></p>
      <div>
        <img src="{{c.image }}"height="250" style="max-width: 270px">       
      </div>
      {% buttons%}
        <button type="button" class="btn btn-danger">
        <a href = "{% url "Cats:delCat" c.cat.id %}">Удалить кота</a>
        </button>
      {% endbuttons%}
  {% endfor %}
  {% buttons%}
  <button type="button" class="btn btn-success">    
  <a href="{% url "Cats:addCat" %}">Добавить котенка</a></p>
  
  {% endbuttons%}
{% endblock content %}
