{%extends "Main/base.html" %}
{% block title %}Платеж успешно обработан!{%endblock%}
{%block content%}
<h1 style="background: radial-gradient(#ffffff0f, #00000030);
color: #36f94ba8;
width: 100%;
text-align: center;
letter-spacing: 2px;
font-size: 35px;">Your payment has been successfully registered!</h1>
<div class = "success-buy">
<p style="color: #b9b9cb;font-size: 23px;width: 80%;border-radius: 4px;background: radial-gradient(#ffffff14, #00000038);letter-spacing: 2px;">Your payment has been successfully registered, it will be processed within a few minutes. <br><br>Order number: {{order_id}} <br><br>We have sent the first confirmation email to your email address: {{user.email}}. Please don't answer it. A full order confirmation will be received within an hour and the assembly of your order will begin. In this confirmation, you will also need to specify the method of receiving the delivery. Please note that the delivery of special equipment may take more than enough time. Free cancellation of the order is possible only within 2 hours. <br><br>  Our customer support service is open from Monday to Friday from 8:00 am to 18:00 pm. Thank you for choosing us. At your service, Quickckick.</p>
</div>
{%endblock%}
{% block left-content-ctg %}
<div class= "label-categ-head">
    <h1>Category</h1>
</div>
<div class ="block-label-select-category">
  <div class= "Select-category"> Select a category to sort </div>
</div>
{% endblock left-content-ctg %}