{% extends "Main/base.html" %}


{% block content %}

{% if some_flag %}
<meta http-equiv="refresh" content="0; #popup" />
{%endif%}


{%load static%}

{% for B in Binoculars %}
    <div class = "block-product">
        <div class = "description-product-block">

            <a href="{{B.get_absolute_url}}"><img src={{B.image.url}} height="170" style="max-width: 150px"></a>
            <div class = "description-text-product" >
                <div class= "buttons-buy-info-pr">
                <div>Name: {{B.name}}</div>
                <div>Material: {{B.material}}</div>
                <div>Range: {{B.range}}</div>
                <div>Date of publication: {{B.created}}</div>
                
                </div>
                
            </div>
        </div>

        <div class = 'copyright'> 
            <div class= "pr-price" >Price: {{B.price}}$</div>
                    {% if request.user.is_authenticated %}
                        <form action="{% url 'Cart:cart_add' B.id %}" method='post' >
                            
                            {% csrf_token %}
                            {{ FORM_TO_BACKET }}
                            <div class="buy-logo"><button name="submit" ><h3> Into a basket </h3></button></div>
                        </form>
                    {% else %}
                        <div class="buy-logo"><button name="submit" ><h3><a href= "#popup-2">Into a basket</a></h3></button></div>
                    {% endif %}
                    
                    <div class="info-logo-pr"><button type="submit"><h3><a href="{% url "Main:binoculars_product" B.id B.klass %}"> Info</a></h3></button></div>
        </div>


    </div>
    
{% endfor %}


<div class="m" id = 'elemID' data-myvariable = "{{len_prod}}" > <!-- ТАКИМ ОБРАЗОМ МОЖНО ПЕРЕДАТЬ АРГУМЕНТ В CSS ПОЖАЛУЙСТА ЗАПОМНИТЬ!-->
</div>
<script>
    var RowContentWidthFir = document.getElementById('Content_id').clientWidth
    if (RowContentWidthFir == '915' ){
        var ElementSizeFir = '880' 
    }
    if (RowContentWidthFir == '815' ){
        var ElementSizeFir = '660' 
    }
    if (RowContentWidthFir == '740' ){
        var ElementSizeFir = '660' 
    }
    if (RowContentWidthFir == '660' ){
        var ElementSizeFir = '440' 
    }
    if (RowContentWidthFir == '430' ){
        var ElementSizeFir = '220' 
    }
    var MyVariableFir = document.getElementById('elemID').getAttribute("data-myvariable");
        var LinesInRowFir =  Math.ceil(MyVariableFir * 220 / ElementSizeFir) * 440
        let outputFir = document.getElementById('elemID');
        let resFir = "--m";
        let valueFir = LinesInRowFir.toString() + "px"; // добавляем "px", чтобы указать единицы измерения
        outputFir.style.setProperty(resFir, valueFir);
</script>
<script>
    window.addEventListener('resize', function() {
        var RowContentWidth = document.getElementById('Content_id').clientWidth
        if (RowContentWidth == '915' ){
            var ElementSize = '880' 
        }
        if (RowContentWidth == '815' ){
            var ElementSize = '660' 
        }
        if (RowContentWidth == '740' ){
            var ElementSize = '660' 
        }
        if (RowContentWidth == '660' ){
            var ElementSize = '440' 
        }
        if (RowContentWidth == '430' ){
            var ElementSize = '220' 
        }
        var MyVariable = document.getElementById('elemID').getAttribute("data-myvariable");
        var LinesInRow =  Math.ceil(MyVariable * 220 / ElementSize) * 440
        let output = document.getElementById('elemID');
        let resss = "--m";
        let value131 = LinesInRow.toString() + "px"; // добавляем "px", чтобы указать единицы измерения
        output.style.setProperty(resss, value131);
    });
</script>

{% endblock content %}
{% block left-content-ctg %}
<div class= "label-categ-head">
    <h1>Category</h1>
</div>
<div class ="block-label-select-category">
  <div class= "Select-category"> There are no categories in this section </div>
</div>
{% endblock left-content-ctg %}
