{% extends "Main/base.html" %}

{%load static%}
{%load tegs_page%}




{% block content %}
{% if some_flag %}
<meta http-equiv="refresh" content="0; #popup" />
{%endif%}


<link rel ="stylesheet" type="text/css" href= "{% static "Main/css/style.css" %}?ver=22"> 

<div class= "fitst-content">        
    <div class = "block-left-pr" >
      <div class= "slider middle">
        <div class = "slides">
          
          {%if images_pr.len == 1%}
            <div class="slide s1"><img src="{{lightings.image.url}}" alt=""></div>
              
          {%else%}
            {% with True as flag %}
              {% for quintity_len in images_pr.quintity %}
                {% if flag %}
                    <input id="r{{quintity_len}}" type = "radio"  name = "r" checked>
                    {% update_variable False as flag %}
                {% else %}  
                  <input id="r{{quintity_len}}" type = "radio"  name = "r">
                {% endif %}
              {% endfor %}
            {% endwith %}
            
            {% with True as flag %}
            {% for product_image in images_pr.cls %}
              {% if flag %}
                <div class="slide s1"><img src={{product_image.image.url}} alt=""></div>
                {% update_variable False as flag %}
              {%else%}
              <div class="slide"><img src={{product_image.image.url}} alt=""></div>
              {% endif %}
            {%endfor%}
            {% endwith %}
          {%endif%}
          </div>
          
        <div class = "navigation-1">
          {% for quintity_pr in images_pr.quintity %}
            <label for="r{{quintity_pr}}" class = "bar"></label>
          {%endfor%}
        </div>
      </div>
      
    </div>
    <div class = "block-right-pr" >
      
      <div class = "Name-pr"><h1>{%if font_bool > 18 %}
        <FONT size="6" color = "#b3b3e0"> {{lightings.name}} </FONT>{%else%} {{lightings.name}}</h1>{% endif %}</div>
      <div class = "Rating-pr"><img src="{% static "Main/images/rating.png" %}" alt=""><a href=""> Leave a review </a>  </div>
      <ul class = "info-pr">
        
        <div class = "Description"><b>Specifications:</b></div>
        <div class = "Category-pr"><h1>Lightings power: {{lightings.time_power}}</h1></div><div class = "line-space"></div><div class = "line-space-2"></div>
        <div class = "Firm-pr"><h1>Power: {{lightings.power}}</h1></div><div class = "line-space"></div><div class = "line-space-2"></div>
        <div class = "Type"><h1>Charging_time: {{lightings.Charging_time}}</h1></div><div class = "line-space"></div><div class = "line-space-2"></div>
        
      </ul>
      <div class = "buy-block-product">
        <div class= "pr-price-2" >Price: {{lightings.price}}$</div>
        {% if request.user.is_authenticated %}
        <form action="{% url 'Cart:cart_add' lightings.id %}" method='post' >            
          
          {{ FORM_TO_BACKET }}
          {% csrf_token %}
          <div class="buy-logo"><button name="submit" ><h3> Into a basket </h3></button></div>
        </form>
        {% else %}
          <div class="buy-logo-2"><button name="submit" ><h3><a href= "#popup-2">Into a basket</a></h3></button></div>
        {% endif %}

      </div>
    </div>

</div>
<div class= "second-content">
  <div class = "Product-Description">
    <div class = "Description-pr">
      <div class = "Description-label"><b>Description:</b></div>
      <div class = "Description-2"> {{lightings.content}}</div>
    </div>
    <div class = "info-buy-pr" ></div>
  </div>
  
</div>   

{% endblock content %}
{% block left-content-ctg %}
<div class= "label-categ-head">
    <h1>Category</h1>
</div>
<div class ="block-label-select-category">
  <div class= "Select-category"> Select a category to sort </div>
</div>
{% endblock left-content-ctg %}