{% extends "Main/base.html" %}

{%load static%}

{% block content %}

<link rel ="stylesheet" type="text/css" href= "{% static "Main/css/style.css" %}?ver=19"> 

<div class= "fitst-content">        
    <div class = "block-left-pr" >
      <div class= "slider middle">
        <div class = "slides">
          <input type = "radio" name = "r" id="r1" checked>
          <input type = "radio" name = "r" id="r2">
          <input type = "radio" name = "r" id="r3">
          <input type = "radio" name = "r" id="r4">

          <div class="slide s1"><img src="{% static "Main/images/085dbf-1559e2-canon-eos-5d-mark-iv.jpg" %}" alt=""></div>
          <div class="slide"><img src="{% static "Main/images/217613875_20488.jpg" %}" alt=""></div>
          <div class="slide"><img src="{% static "Main/images/085dbf-1559e2-canon-eos-5d-mark-iv.jpg" %}" alt=""></div>
          <div class="slide"><img src="{% static "Main/images/83878829_2048.jpg" %}" alt=""></div>

        </div>
        <div class = "navigation-1">

          <label for="r1" class = "bar"></label>
          <label for="r2" class = "bar"></label>
          <label for="r3" class = "bar"></label>
          <label for="r4" class = "bar"></label>
        </div>

      </div>
      
      
    </div>
    <div class = "block-right-pr" >
      
      <div class = "Name-pr"><h1>{%if font_bool > 18 %}
        <FONT size="6" color = "#b3b3e0"> {{Trip.name}} </FONT>{%else%} {{Trip.name}}</h1>{% endif %}</div>
      <div class = "Rating-pr"><img src="{% static "Main/images/rating.png" %}" alt=""><a href=""> Leave a review </a>  </div>
      
      <div class = "buy-block-product">
        <div class= "pr-price-2" >Price: {{Trip.price}}$</div>
        <div class="buy-logo"><button><h3> Into a basket </h3></button></div>
      </div>
    </div>

</div>
<div class= "second-content">
  <div class = "Product-Description">
    <div class = "Description-pr">
      <div class = "Description-label"><b>Description:</b></div>
      <div class = "Description-2"> {{Trip.content}}</div>


    </div>
    <div class = "info-buy-pr" ></div>
  </div>
  
</div>   

{% endblock content %}