{% extends 'Main/base.html' %}

{% load static %}

{% block content %}

<link rel ="stylesheet" type="text/css" href= "{% static "Main/css/Cart.css" %}?ver=21"> 
<h1 class = "mlabel"> Your orders: </h1>

<table class="cart">
    <thead>
        <tr class= "tr-class">
            <th class = "wga"><p>Foto</p></th>
            <th><p class = "obj-th" >Product</p> </th>
            <th><p class = "obj-th">Quantity</p></th>
            <th><p class = "obj-th">Delete from Trash</p></th>
            <th><p class = "obj-th">Price per unit</p></th>
            <th><p class = "obj-th">Price</p></th>
        </tr>
    </thead>
    <tbody class= "tbody-bas">
        {% for item in Cart %}
            {% with product=item.product %}
            <tr class = "format-table">
                <td class = "table-basket">
                    <a href="{{product.get_absolute_url}}">
                        <img height="170" style="max-width: 150px" src ="{{product.image.url}}" ></a>
                </td>
                <td class = "table-basket">
                    <p>{{product.name}}</p>
                </td>
                <td class = "table-basket">
                    <p>{{item.quantity}}</p>
                </td>
                <td class = "table-basket">
                    <form class = "delete-pr" action="{% url "Cart:cart_remove" product.klass product.id  %}" method="post">
                        <input type="submit" value="Remove">
                        {% csrf_token %}
                    </form>
                    
                </td class = >
                <td class ="table-basket">
                <p>{{item.price}}$</p>  
                </td>

                <td class ="table-basket">
                    <p>{{item.total_price}}$</p>
                </td>
            </tr>
            
            {% endwith %}
            {% endfor %}
            <tr class="total">
                <td class = "table-basket" ><p>
                    Total: 
                </p></td>
                <td colspan = 4></td>
                <td class = "table-basket">
                    <p>{{Cart.get_total_price}}$</p>
                </td>
            </tr>
    </tbody>
</table>
<div class= "button-buy-cart" >
    {% if empty %}
    <a href= "{% url "orders:order_create" %}" ><button class = "button-buy-all" >Buy</button><a>
    <a href= "{% url "Main:Main" %}" ><button class = "button-continue" >Continue shopping</button><a>
    {% else %}
    <p class = "button-continue-1" >Your shopping cart is empty<p>

    <a href= "{% url "Main:Main" %}" ><button class = "button-continue" >Continue shopping</button><a>
    
    {% endif %}
</div>

<p class= "text-right">

</p>
{%endblock%}
{% block left-content-ctg %}
<div class= "label-categ-head">
    <h1>Category</h1>
</div>
<div class ="block-label-select-category">
  <div class= "Select-category"> Select a category to sort </div>
</div>
{% endblock left-content-ctg %}