{% extends "Main/base.html" %}


{% block content %}

{% if some_flag %}
<meta http-equiv="refresh" content="0; #popup" />
{%endif%}


{%load static%}

{% for B in Binoculars %}
    <div class = "block-product">
        <div class = "description-product-block">

            <a href="{{c.get_absolute_url}}"><img src={{B.image.url}} height="170" style="max-width: 150px"></a>
            <div class = "description-text-product" >
                <div class= "buttons-buy-info-pr">
                <div>Name: {{B.name}}</div>
                <div>Material: {{B.material}}</div>
                <div>Range: {{B.range}}</div>
                <div>Date of publication: {{B.created}}</div>
                <div class= "buttons-buy-info-pr-5">
                    <div class= "pr-price" >Price: {{B.price}}$</div>
                    {% if request.user.is_authenticated %}
                        <form action="{% url 'Cart:cart_add' B.id %}" method='post' >
                            
                            {% csrf_token %}
                            {{ FORM_TO_BACKET }}
                            <div class="buy-logo"><button name="submit" ><h3> Into a basket </h3></button></div>
                        </form>
                    {% else %}
                        <div class="buy-logo"><button name="submit" ><h3><a href= "#popup-2">Into a basket</a></h3></button></div>
                    {% endif %}
                    
                    <div class="info-logo-pr"><button type="submit"><h3><a href="{% url "Main:binoculars_product" B.id B.klass %}"> Info</a></h3></button></div>
                
                </div>
                </div>
                
            </div>
        </div>
    </div>
    
{% endfor %}
<div class="m" style="--m: {{ line }}" >
</div>
{% endblock content %}
{% block left-content-ctg %}
<div class= "label-categ-head">
    <h1>Category</h1>
</div>
<div class ="block-label-select-category">
  <div class= "Select-category"> There are no categories in this section </div>
</div>
{% endblock left-content-ctg %}
